[Unit]
Description=Kegometer

[Service]
ExecStart=/home/pi/kegometer/main.py
WorkingDirectory=/home/pi/kegometer

[Install]
WantedBy=multi-user.target
